html, body{
    width: 100%;
}

#logo{
    /* max-height: 40px;
    max-width: 30%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;  */
    max-width: 55%;
}

.navbar .navbar-brand img {
    display: inline-block;
  }

  .justify-content-end{
      flex: auto;
      padding-right: 75px;
  }